.footer {
  padding: 40px 20px;
  font-size:12px;
  line-height:18px;
  -webkit-font-smoothing: antialiased;
  background-color: #363636;
  background-image: linear-gradient(top,#363636 0,#444 40%);
  color: #fff;
}

@media (max-width:480px) {
  .footer {
    font-size: 11px;
    padding: 30px 10px;
  }
}

.footer__links {
  margin: 10px 0 30px;
}

.footer__links:after,
.footer__copyright-links:after {
  clear: both;
}

@media (max-width:959px) {
  .footer__links {
    display: none;
  }
}

@media (max-width:800px) {
  .footer__copyright {
    text-align: center;
  }
}

.footer__copyright-links {
  float: right;
}

@media (max-width:800px) {
  .footer__copyright-links {
    display: block;
    float: none;
  }
  .footer__copyright-links li {
    float: none !important;
  }
}

.footer__copyright-text {
  float: left;
  color: #999;
}

@media (max-width:800px) {
  .footer__copyright-text {
    display: block;
    float: none;
    padding: 0 40px;
    margin-top: 10px;
  }
}

.abn,.abn a {
  color: #999;
  text-decoration: none;
}
