.footer {
  @extend .block-3;
  @extend .text-small;
  padding: spacing(4) spacing(2);
  @media (max-width: 480px) {
    font-size: 11px;
    padding: spacing(3) spacing(1);
  }
}

.footer__links {
  @include clear-floats;
  margin: spacing(1) 0 spacing(3);
  @media (max-width: 959px) {
    display: none;
  }
}

.footer__copyright {
  @include clear-floats;
  @media (max-width: 800px) {
    text-align: center;
  }
}

.footer__copyright-links {
  @include clear-floats;
  float: right;
  @media (max-width: 800px) {
    display: block;
    float: none;

    // TODO: remove this
    li {
      float: none;
    }
  }
}

.footer__copyright-text {
  @extend .text--grey;
  float: left;
  @media (max-width: 800px) {
    display: block;
    float: none;
    padding: 0 spacing(4);
    margin-top: spacing(1);
  }
}

// IOS fix
.abn, .abn a {
  color: $light-grey;
  text-decoration: none;
}